@use '/src/assets/styles/variables/typography';
@use '/src/assets/styles/variables/colors';
@use '/src/assets/styles/mixins';

.advantages {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 24px;

  &__left-block {
    display: flex;
    padding: 30px;
    background-color: colors.$white;
    border-radius: 20px;
    row-gap: 20px;
    flex-direction: column;
  }

  &__right-block {
    padding: 40px 30px 120px;
    background-color: colors.$golden-sand;
    border-radius: 20px;
    position: relative;
  }

  &__right-block::after {
    @include mixins.font(typography.$font-200px-to-65px, 700);

    content: attr(data-price);
    position: absolute;
    right: -15px;
    bottom: 0;
    color: colors.$anti-flash-white;
  }

  &__points {
    display: grid;
    row-gap: 20px;

    p {
      @include mixins.font(typography.$font-24px-to-18px);
    }
  }

  &__point {
    display: flex;
    gap: mixins.clamps(8px, 16px);

    svg {
      translate: 0 -10px;
      width: mixins.clamps(28px, 40px);
      height: auto;
    }
  }

  &__title {
    p {
      @include mixins.font(typography.$font-20px-to-18px);

      color: colors.$red;
      max-width: 240px;
    }
  }

  &__button {
    margin-top: 50px;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: none;

    &__right-block::after {
      @include mixins.font(typography.$font-200px-to-120px, 700);
    }
  }
}
