@use '/src/assets/styles/variables/colors';

.user-statistics {
  display: grid;
  background-color: colors.$white;
  border-radius: 15px;
  $selector: &;

  &__container {
    display: grid;
    row-gap: 20px;
    padding: 30px 40px;
    color: colors.$light-gray;

    a {
      color: colors.$light-gray;
      border-bottom: dashed colors.$light-gray;
    }

    #{$selector}__contacts {
      #{$selector}__contacts-container {
        display: flex;
        justify-content: space-between;
      }
    }

    #{$selector}__candidates {
      #{$selector}__candidates-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
