@use '/src/assets/styles/variables/colors';

.burger {
  $selector: &;

  &__container {
    display: grid;
    align-content: space-between;
    width: 20px;
    height: 16px;
    cursor: pointer;

    &:hover {
      span {
        background-color: colors.$golden-sand;
      }

      &:not(#{$selector}__container-icon-close) {
        span {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: 100%;
          }
        }
      }
    }

    span {
      height: 2px;
      border-radius: 2px;
      background-color: colors.$black;
      transition: all 0.3s ease;

      &:nth-child(1) {
        width: 90%;
      }

      &:nth-child(2) {
        width: 60%;
        transition-delay: 0.1s;
      }

      &:nth-child(3) {
        width: 90%;
        transition-delay: 0.2s;
      }
    }
  }

  &__container-icon-close {
    span {
      &:nth-child(1) {
        rotate: 45deg;
        transform-origin: left top;
        width: 100%;
        transition-delay: 0s;
      }

      &:nth-child(2) {
        width: 0;
        transition-delay: 0s;
        transform-origin: center;
        margin: auto;
      }

      &:nth-child(3) {
        rotate: -45deg;
        transform-origin: left bottom;
        width: 100%;
        transition-delay: 0s;
      }
    }
  }
}
