$purple: #5B21B6;
$light-pink: #FDE9FE;
$brown: #92400E;
$really-light-yellow: #FEF3C7;
$white: white;
$yellow: yellow;
$slightly-darker-than-white: #e1e1e1;
$red: red;
$really-light-yellow-2: #F1DF6F;
$really-light-gray: #E0E0E0;
$really-dark-blue: #111827;
$gray: #626262;
$light-yellow: #FEE965;
$light-gray: #9CA3AF;
$black: black;
$really-slightly-darker-than-white: #E8E8E8;
