$purple: #5B21B6;
$lavender-blush: #FDE9FE;
$brown: #92400E;
$lemon-chiffon: #FEF3C7;
$white: white;
$yellow: yellow;
$chinese-white: #e1e1e1;
$red: red;
$golden-sand: #F1DF6F;
$alto: #E0E0E0;
$eerie-black: #111827;
$gray: #626262;
$light-yellow: #FEE965;
$light-gray: #9CA3AF;
$black: black;
$platinum: #E8E8E8;
$anti-flash-white: #f2f2f2;
$light-silver: #d1d5db;
$spanish-gray: #979797;
$lemon-chiffon: #FEF3C7;
$saddle-brown: #92400E;
$lavender: #EDE9FE;
$grape: #5B21B6;
$ghost-white: #F9FAFB;
$auro-metal-saurus: #6B7280;
