$font-200px: 200px, 90px;
$font-120px: 120px, 50px;
$font-65px: 65px, 30px;
$font-60px: 60px, 60px;
$font-40px: 40px, 46px;
$font-28px: 28px, 34px;
$font-24px: 24px, 30px;
$font-20px: 20px, 26px;
$font-18px: 18px, 24px;
$font-16px: 16px, 20px;

$font-200px-to-120px: $font-200px, $font-120px;
$font-200px-to-65px: $font-200px, $font-65px;
$font-60px-to-28px: $font-60px, $font-28px;
$font-40px-to-24px: $font-40px, $font-24px;
$font-28px-to-20px: $font-28px, $font-20px;
$font-24px-to-20px: $font-24px, $font-20px;
$font-24px-to-18px: $font-24px, $font-18px;
$font-20px-to-18px: $font-20px, $font-18px;
$font-24px-to-16px: $font-24px, $font-16px;
