.candidates {
  /* */

  &__title {
    display: grid;
    justify-content: center;
  }

  &__container {
    display: grid;
    gap: 30px;
    margin-top: 25px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 1250px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 620px) {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
