@use '/src/assets/styles/variables/colors';

.menu {
  $selector: &;

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  &__list-more-open {
    svg {
      rotate: 180deg;
    }

    #{$selector}__more {
      & > div {
        span {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }
  }

  &__list-more-close {
    #{$selector}__item-hidden {
      display: none;
    }

    #{$selector}__more {
      & > div {
        span {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }

  &__item {
    opacity: 1;
    transition: opacity .2s ease;
  }

  &__link {
    color: colors.$eerie-black;
    padding: 12px 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 12px;
      right: 12px;
      bottom: 12px;
      height: 2px;
      border-radius: 100px;
      background-color: colors.$light-yellow;
      transform: scaleX(0);
      transition: transform .5s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }

  &__more {
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      transition: rotate 0.5s ease;
    }
  }
}
