@use '/src/assets/styles/variables/colors';

.user-panel {
  $selector: &;

  position: relative;

  &__is-logged {
    &:hover {
      #{$selector}__popup {
        opacity: 1;
        visibility: visible;
        translate: 0 10px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 10px;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 120px;
    }
  }

  &__popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: colors.$white;
    padding: 10px;
    border: 1px solid colors.$light-gray;
    z-index: 1;
    transition: all 0.3s ease;
    translate: 0 -20px;
    border-radius: 5px;
    display: grid;
    width: 225px;
    gap: 5px;
    right: 0;

    #{$selector}__popup-content {
      margin-bottom: 5px;
    }

    li {
      &:last-child {
        border-top: 1px solid colors.$platinum;
        padding-top: 5px;
      }
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        color: colors.$red;
      }

      svg {
        width: 18px;
      }

      #{$selector}__popup-button-exit {
        color: colors.$red;
        cursor: pointer;
      }

      #{$selector}__popup-button-profile {
        cursor: pointer;
      }

      #{$selector}__icon-exit {
        fill: colors.$red;
      }
    }
  }
}
