@use 'src/assets/styles/variables/colors';

.modal {
  $selector: &;

  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: background-color 1s ease;

  &_enter {
    background-color: rgba(0, 0, 0, 0.2);

    #{$selector}__content {
      transform: translate3d(0, 0, 0);
    }
  }

  &_exit {
    #{$selector}__content {
      transform: translateY(-100%);
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    position: absolute;
    top: 20px;
    right: 20px;

    span {
      cursor: pointer;
      display: inline-flex;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    background-color: colors.$white;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 25px 18px;
    transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1);
    transform: translate3d(0, -100%, 0);
    box-shadow: 0 0 10px colors.$yellow;
  }
}
