@use '/src/assets/styles/variables/colors';
@use '/src/assets/styles/mixins';

.header {
  $selector: &;

  margin: 22px auto;
  display: grid;
  row-gap: 16px;

  &__top-level {
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
    padding-bottom: 22px;
    border-bottom: 1px solid colors.$really-slightly-darker-than-white;

    #{$selector}__top-level-column {
      display: flex;
      column-gap: mixins.clamps(10px, 45px);
      align-items: center;
    }
  }
}
