@media screen and (max-width: 1400px) {
  .title {
    font-size: calc(1.625rem + 1.5vw);
  }

  .subtitle {
    font-size: calc(13px + 0.5vw);
  }
}

@media screen and (max-width: 1120px) {
  .logo--desktop {
    display: none;
  }

  .logo--mobile {
    display: flex;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    justify-content: center;
    flex-direction: column;
  }

  .intro_content_box {
    width: auto;
  }

  .header {
    grid-template-columns: min-content auto min-content;
    grid-template-areas:
            "logo search btn"
            "menu menu menu"
            "navbar navbar navbar"
            "account account account";
  }

  .navbar-close {
    display: block;
  }

  .navbar_list {
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #E5E7EB;
  }

  .navbar_menu {
    margin: 0;
  }

  .navbar,
  .search_field,
  .search_box,
  .account,
  .account .btn {
    width: 100%;
    padding-left: 5px;
  }

  .search_btn,
  .search_field {
    border: none;
    font-size: 16px;
    background-color: #E5E7EB;
  }

  .account {
    padding: 20px 0;
  }

  .navbar,
  .account,
  .hide {
    display: none;
  }

  .navbar--open .navbar,
  .navbar--open .account {
    display: block;
  }

  .header.navbar--open {
    background-color: #fff;
  }
}

@media screen and (max-width: 540px) {
  .jobs_grid {
    grid-template-columns: 1fr;
  }

  .h2-jobs_grid {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .intro_img_box {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .btn-white {
    background-color: white;
    width: 30%;
    display: flex;
  }
}
