@media screen and (max-width: 1400px) {
  .title {
    font-size: calc(1.625rem + 1.5vw);
  }

  .subtitle {
    font-size: calc(13px + 0.5vw);
  }
}

@media screen and (max-width: 1120px) {
  .logo--desktop {
    display: none;
  }
  .logo--mobile {
    display: flex;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    justify-content: center;
    flex-direction: column;
  }

  .intro_content_box {
    width: auto;
  }

  .jobs_grid {
    grid-template-columns: 1fr 1fr;
  }
  .header {
    grid-template-columns: min-content auto min-content;
    grid-template-areas:
            "logo search btn"
            "menu menu menu"
            "navbar navbar navbar"
            "account account account";
    /* background-color: #fff; */
  }
  .navbar-close {
    display: block;
  }
  .navbar_list {
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #E5E7EB;
  }
  .navbar_menu {
    margin: 0;
  }
  .navbar,
  .search_field,
  .search_box,
  .account,
  .account .btn {
    width: 100%;
  }
  .search_btn,
  .search_field {
    border: none;
    font-size: 16px;
    background-color: #E5E7EB;
  }
  .account {
    padding: 20px 0;
  }
  .navbar,
  .account,
  .hide {
    display: none;
  }
  .navbar--open .navbar,
  .navbar--open .account {
    display: block;
  }
  .header.navbar--open {
    background-color: #fff;
  }
}

@media screen and (max-width: 540px) {
  .jobs_grid {
    grid-template-columns: 1fr;
  }

  .h2-jobs_grid {
    font-size: 30px;
  }
}

@media screen and (max-width: 995px) {
  .cta_box {
    display: grid;
  }

  .cta_features_box {
    width: 100%;
  }

  .features {
    display: grid;
    justify-content: center;
  }

  .cta_box__title {
    display: grid;
    justify-content: center;
  }

  .cta_price_box {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 450px) {
  .intro_img_box {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .cta_price_box::after {
    font-size: 110px;
    bottom: -47px;
  }

  .cta_box__title-2 h2 {
    font-size: 30px;
  }

  .text-red {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .features_description {
    font-size: 19px;
  }

  .features_title {
    font-size: 25px;
  }

  .cta_box__title h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .features_description {
    font-size: 17px;
    line-height: 22px;
  }

  .features_title {
    font-size: 22px;
  }
}

@media screen and (max-width: 400px) {
  .cta_box__title h2 {
    font-size: 21px;
  }

  .features_title {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .features_description {
    font-size: 15px;
    line-height: 21px;
  }

  .features_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  .btn-white {
    background-color: white;
    width: 30%;
    display: flex;
  }

  .cta_price_box {
    height: 540px;
  }
}
