@use "src/assets/styles/variables/color";
@import "../../src/assets/styles/fonts";

.text-center {
  text-align: center;
}

.bg-gray {
  background-color: color.$slightly-darker-than-white;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.logo {
  grid-area: logo;
}


.logo_img {
  height: 27px;
  width: auto;
}

.logo--mobile {
  display: none;
}

.navbar-close {
  grid-area: btn;
  align-self: center;
  margin-left: 20px;
  display: none;
}

.hamburger {
  gap: 5px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
}

.line {
  width: 16px;
  height: 2px;
  background-color: color.$black;
  border-radius: 100px;
}

.line:nth-child(2) {
  width: 8px;
}

.navbar--open .line {
  background-color: color.$light-gray;
}

.navbar--open .line:nth-child(2) {
  width: 16px;
  transform: rotate(-45deg);
}

.navbar--open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
}

.navbar--open .line:nth-child(3) {
  display: none;
}

.search_box {
  grid-area: search;
  margin: 24px 20px 22px auto;
}

.search_icon {
  vertical-align: middle;
}

.account {
  margin-left: auto;
  grid-area: account;
}

.btn-outline-yellow:hover,
.btn-yellow:hover {
  background-color: color.$light-yellow;
  border-color: color.$light-yellow;
}

.btn-outline-yellow:active,
.btn-outline-yellow:focus-visible,
.btn-yellow:active,
.btn-yellow:focus-visible {
  background-color: color.$really-light-yellow-2;
  border-color: color.$white;
  outline: none;
  box-shadow: 0 0 0 4px color.$really-light-yellow-2;
}

.btn-lg {
  font-size: 1.125em;
  padding: 12px 32px;
}

.btn-outline-yellow {
  border-color: color.$really-light-yellow-2;
}

.intro {
  display: flex;
  padding: 100px 15px;
  flex-direction: row-reverse;
  align-items: center;
}

.intro_img_box {
  width: 50%;
}

.intro_content_box {
  width: 55%;
}

.intro_img {
  max-width: 100%;
}

.title {
  font-size: calc(1.625rem + 1.5vw);
  line-height: 1.2;
}

.badge {
  line-height: 1;
  padding: 0 0.35em;
  border-radius: 0.2em;
  background-color: color.$really-light-yellow-2;
}

.subtitle {
  font-size: calc(13px + 0.5vw);
  line-height: 1.28;
  padding: 28px 0 48px;
}

.text-gray {
  color: #626262;
}

.btn_group {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.jobs_grid {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.job {
  display: flex;
  color: color.$really-dark-blue;
  background-color: color.$white;
  border: 1px solid color.$really-light-gray;
  border-radius: 12px;
  padding: 20px;
  gap: 24px;
  align-items: center;
  position: relative;
  transition: background-color .2s ease, box-shadow .2s ease;
}

.job_img_box {
  width: 60px;
  height: 60px;
  padding: 8px;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background-color: color.$really-light-yellow-2;
  transition: background-color .2s ease;
}

.job_img {
  max-width: 100%;
}

.job_counter {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid color.$really-light-yellow-2;
  background-color: color.$white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: .9rem;
  transition: transform 2s ease;
}

.job_title {
  font-size: 1.2rem;
  line-height: 1.2;
}

.job:hover {
  background-color: color.$really-light-yellow-2;
  box-shadow: 0 0 0 2px color.$white;
}

.job:hover .job_img_box {
  background-color: color.$white;
}

.job:hover .job_counter {
  transform: translate(25px, -25px);
  transition: transform .2s ease;
}

.cta_box {
  gap: 24px;
  display: flex;
  margin-top: 100px;
}

.cta_features_box {
  width: 66.66%;
  padding: 30px;
  background-color: color.$white;
  border-radius: 16px;
}

.features_title {
  font-size: 28px;
  position: relative;
  line-height: 1.2;
  margin: 15px 0 15px 50px;
}

.features_title::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: color.$really-light-yellow-2;
  position: absolute;
  left: -50px;
  border-radius: 2px;
  top: 0;
}

.features_title::after {
  content: '';
  height: 27px;
  width: 30px;
  background: url('/src/assets/media/icons/check.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: -53px;
  top: -5px;
}

.features_description {
  max-width: 500px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 30px;
}

.cta_price_box {
  width: 33.33%;
  padding: 40px 30px;
  background-color: color.$really-light-yellow-2;
  border-radius: 16px;
  position: relative;
}

.text-red {
  color: color.$red;
  max-width: 240px;
  font-size: 20px;
}

.btn-white__container{
  margin-top: 50px;
}

.cta_price_box::after {
  content: attr(data-price);
  position: absolute;
  right: -10px;
  font-size: 140px;
  bottom: -60px;
  color: color.$slightly-darker-than-white;
}

.btn-white {
  background-color: color.$white;
}

.btn-white:hover {
  color: color.$yellow;
  transition: 0.5s ease;
}

.database__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.candidate-card {
  background-color: color.$white;
  border-radius: 15px;
  padding: 30px 20px;
}

.time__container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.database__avater {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.time-yellow {
  background-color: color.$really-light-yellow;
  border-radius: 20px;
  padding: 1px 10px;
  color: color.$brown;
}

.time-perple {
  background-color: color.$light-pink;
  border-radius: 20px;
  padding: 1px 10px;
  color: color.$purple;
}

.candidate-card {
  display: grid;
  width: 300px;
  height: 330px;
  text-align: center;
}
