@use 'src/assets/styles/variables/colors';
@use 'src/assets/styles/mixins';

.direction-of-work {
  $selector: &;

  @include mixins.section;

  h2 {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: grid;
    margin-top: 25px;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    #{$selector}__options {
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid colors.$platinum;
      border-radius: 10px;
      padding: 10px;
      background-color: colors.$white;

    }
  }

  @media screen and (max-width: 1024px) {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 576px) {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
