@use 'src/assets/styles/mixins';
@use 'src/assets/styles/variables/colors';
@use 'src/assets/styles/variables/typography';

.direction-of-work {
  $selector: &;

  h2 {
    display: flex;
    justify-content: center;
    padding: 0 16px;
  }

  &__container {
    display: grid;
    margin-top: 25px;
  }

  &__content {
    display: grid;
    gap: mixins.clamps(10px, 24px);
    grid-template-columns: repeat(4, 1fr);
    padding: 0 16px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(4, 1fr);

      #{$selector}__options {
        min-width: 250px;
      }
    }

    #{$selector}__options {
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid colors.$platinum;
      border-radius: 10px;
      padding: 10px;
      background-color: colors.$white;
      position: relative;
      overflow: hidden;

      &:hover {
        #{$selector}__icon {
          &::before {
            transform: scale(17);
            transition: transform 0.8s ease;
          }
        }

        #{$selector}__count {
          border-color: colors.$white;
        }
      }
    }

    #{$selector}__icon {
      display: grid;
      position: relative;

      svg {
        z-index: 1;
      }

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: colors.$golden-sand;
        transform: scale(1);
        transition: transform 0.5s ease;
        border-radius: 12px;
        overflow: hidden;
      }
    }

    #{$selector}__option-title {
      @include mixins.font(typography.$font-24px-to-18px);

      z-index: 1;
    }

    #{$selector}__count {
      display: grid;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      border: 1px solid colors.$golden-sand;
      width: 26px;
      height: auto;
      aspect-ratio: 1;
      z-index: 1;
      transition: all 0.5s ease;
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 12px;
      background-color: colors.$white;
    }
  }
}
