@use 'src/assets/styles/variables/colors';

.direction-of-work {
  $selector: &;

  &__container {
    display: grid;
    margin-top: 25px;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);

    #{$selector}__options {
      display: flex;
      align-items: center;
      gap: 20px;
      border: 1px solid colors.$platinum;
      border-radius: 10px;
      padding: 10px;
      background-color: colors.$white;

    }
  }
}
