@use '/src/assets/styles/variables/colors';
@use '/src/assets/styles/mixins';

.agitation {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr mixins.clamps(300px, 520px);
  column-gap: mixins.clamps(10px, 60px);

  &__content {
    display: grid;
    row-gap: mixins.clamps(38px, 48px);
  }

  &__button-container {
    display: flex;
    gap: 20px;
  }
}
