@use 'src/assets/styles/variables/colors';
@use 'src/assets/styles/mixins';

body {
  font: 400 16px/1.5 "Calibri";
  box-sizing: content-box;
  background-color: colors.$anti-flash-white;
}

main,
header {
  @include mixins.container1280;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

a {
  text-decoration: none;
  color: black;
}
