* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}
