.use-of-cookies {
  display: grid;
  row-gap: 10px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  margin-left: 16px;
  background-color: #f1df6f;
  padding: 20px;
  border-radius: 20px;
  max-width: 320px;
  text-align: center;
  border: 1px solid white;

  &_exit {
    opacity: 0;
    translate: 0 100%;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;

    button {
      opacity: 0;
      translate: 0 100%;
      transition: all 0.5s ease-in-out;
    }
  }
}
