.use-of-cookies {
  display: grid;
  row-gap: 5px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  margin-left: 16px;
  background-color: #f1df6f;
  padding: 20px;
  border-radius: 20px;
  max-width: 320px;
  text-align: center;
  border: 1px solid white;
}
